# Prerequisites & Compilations
*.d
*.o
*.obj
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Libraries
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE & Editor Temporary Files
.idea/
.vscode/
*.depend
*.layout
*.cbp.depend
*.cbp.layout

# OS Metadata
.DS_Store
Thumbs.db
